
window {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.568);
    font-family: 'FiraCode Nerd Font', sans-serif;
    font-size: 15px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: #D3C6AA;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #9fc0ea;
    border-radius: 5px;
}

#text {
    color: #b3b3b3;
}

#text:selected {
    color: #2c2c2c;
}
